<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>{{ page.title }} - {{ site.title }}</title>
<meta
  name="description"
  content="Inoffizielles 'Die Ärzte' Fan Stuff – Designs zum Herunterladen von Annabelle Feiler"
/>
<meta name="author" content="Annabelle Feiler" />
<meta name="robots" content="index, follow" />

<link rel="icon" href="{{ 'assets/images/favicon.svg' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />

<script src="{{ '/assets/js/songzeile.js' | relative_url }}" defer></script>
